.show-avatar-popup {

}
.show-avatar-popup__avatar {
    animation: vdv 1s ease 1;
    margin: 0 auto;
    border: 5px solid gray;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-items: center;
    background-color: rgb(43,43,43);
}
.show-avatar-popup__avatar > img {
    margin: 0 auto;
}

@keyframes vdv {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}